<h1 class="center">Liste des pokémons</h1>
<!--pseudo-evenements: Au niveau du template la methode est déclanchée quand l'utilisateur appuie sur entrer -->
<input #input (keyup.enter)="selectPokemon(input.value)" type="number">
<!-- On récupère la proprété qui existe déjà pokemonSelected pour créer la condition et n'afficher que si le pokemon
existe -->
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal" pkmnBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="image pokemon">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p> <small> {{pokemon.created}}</small></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<p *ngIf="pokemonSelected">
    Vous avez séléctionné le pokemon :{{pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokémon n'a été trouvé.
</p>